@using System.Timers;
@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row">
            <div class="col"> Application Name </div>
            <div class="col" style="text-align: end"> @currentTime </div>
        </div>

        <div> @Body </div>
        <Footer />
    </div>
@code{
    protected async override Task OnInitializedAsync()
    {
        cstZone = TimeZoneInfo.FindSystemTimeZoneById("Russian Standard Time");
        await SetMoscowDateTime();
        SetTimer();
    }

    private void SetTimer()
    {
        var aTimer = new Timer(1000);
        aTimer.Elapsed += OnTimedEvent;
        aTimer.AutoReset = true;
        aTimer.Enabled = true;
    }

    private async void OnTimedEvent(Object source, ElapsedEventArgs e)
    {
        await SetMoscowDateTime();
    }

    private async Task SetMoscowDateTime()
    {
        var utcNowTime = DateTime.UtcNow;
        currentTime = TimeZoneInfo.ConvertTimeFromUtc(utcNowTime, cstZone);
        await InvokeAsync(() => StateHasChanged());
    }

    TimeZoneInfo cstZone;
    DateTime currentTime;
}