@using System.Timers;
@inherits LayoutComponentBase

<div class="main">
    <div class="top-row">
        <div class="col"> Abida64 </div>
        <div class="col" style="text-align: end"> @currentTime </div>
    </div>

    <div> @Body </div>
    <WebDevElin.Shared.Footer />
</div>
@code{
    protected override void OnAfterRender(bool firstRender)
    {
        cstZone = TimeZoneInfo.FindSystemTimeZoneById("Russian Standard Time");
        SetTimer();
    }

    private void SetTimer()
    {
        var aTimer = new Timer(500);
        aTimer.Elapsed += OnTimedEvent;
        aTimer.AutoReset = true;
        aTimer.Enabled = true;
    }

    private void OnTimedEvent(Object source, ElapsedEventArgs e)
    {
        SetMoscowDateTime();
    }

    private async void SetMoscowDateTime()
    {
        var utcNowTime = DateTime.UtcNow;
        currentTime = TimeZoneInfo.ConvertTimeFromUtc(utcNowTime, cstZone);
        await InvokeAsync(() => StateHasChanged());
    }

    TimeZoneInfo cstZone;
    DateTime currentTime;
}