@page "/"
<div class="middle-block">
    <div class="col">
        <div class="row" style="width: 96vw">
            <WebDevElin.Modules.BarGraph />
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <WebDevElin.Modules.CPUIndicator />
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <WebDevElin.Modules.EventLog/>
                </div>
            </div>
        </div>
    </div>
</div>