@using System.Linq;
@using WebDevElin.Data
<div class="row d-flex justify-content-center" style="width:100%">
    <div class="col-md-6">
        <textarea class="event-module" cols="150" readonly wrap="hard">
        @foreach(var ord in orders)
        {
        @ord
        }
</textarea>
    </div>
</div>

@code {
  private DiagnosticInfo DiagnosticInfo;

  List<string> orders = new List<string>();

  protected override async Task OnInitializedAsync()
  {
      DiagnosticInfo = new DiagnosticInfo();
      orders = await DiagnosticInfo.GetLogs();
  }
}