@using System.Linq;
<div class="row d-flex justify-content-center" style="width:100%">
    <div class="col-md-6">
        <textarea class="event-module" cols="150" readonly wrap="hard">
        @foreach(var ord in orders)
        {
        @ord
        }
</textarea>
    </div>
</div>

@code {
  Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

  List<string> orders = new List<string>();

  protected override async Task OnInitializedAsync()
  {
      orders = await WebDevElin.Data.DiagnosticInfo.GetLogs();
  }

  void Change(string text)
  {
      events.Add(DateTime.Now, $"{text}");
  }
}